<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wikidata Anime Search</title>
    <meta charset="UTF-8">
    <meta-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            background-color: #1a1a1a;
            color: #ffffff;
        }
        body .form-control {
            background-color: #333333;
            color: #ffffff;
        }
        body .form-control:focus {
            background-color: #555555;
            color: #ffffff;
        }
        body .list-group-item {
            background-color: #333333;
            color: #ffffff;
        }
        body .anime-cover-image {
            object-fit: cover;
            width: 50px;
            height: 50px;
            border-radius: 5px;
        }
        body .list-group-item a {
            margin-left: 20px;
            margin-right: 20px;
            font-size: large;
        }
        body a:link {
            color: #ffffff;
        }
        body a:visited {
            color: #ffffff;
        }
    </style>
</head>

<body class="container mt-5">
    <h1 class="mb-4"> Wikidata Anime Search </h1>
    <form action="{{ url_for('search') }}" method="post" class="mb-4">
        <input type="text" name="query" class="form-control" placeholder="Anime title (localized english title, sorry, that's just what Wikidata uses)...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>

    <h2>Selected Animes</h2>
    <ul id="selectedAnimes" class="list-group mb-4">
        <!-- Selected animes will be added here dynamically -->
        {% for anime in selected_animes %}
            <li class="list-group-item">
                <img class="anime-cover-image" src="{{anime.cover_image}}" alt="">
                <a target="_blank" href="{{anime.anime.value}}"> {{ anime.animeLabel.value }} </a>
                <a target="_blank" href="{{'https://anilist.co/anime/' + anime.anilist_id.value}}"> <b> {{ anime.average_score }} </b> </a>
                <button class="btn btn-danger btn-sm float-right" onclick='removeFromSelected({{ anime | tojson | safe }})'>X</button>
            </li>
        {% endfor %}
    </ul>

    <button class="btn btn-primary" onclick="generateRecommendations()">Generate Recommendations</button>

    {% if results %}
        <h2>Search Results for "{{ query }}"</h2>
        <ul class="list-group">
            {% for result in results %}
                <li class="list-group-item">
                    <img class="anime-cover-image" src="{{result.cover_image}}" alt="">
                    <a target="_blank" href="{{result.anime.value}}"> {{ result.animeLabel.value }} </a>
                    <a target="_blank" href="{{'https://anilist.co/anime/' + result.anilist_id.value}}"> <b> {{ result.average_score }} </b> </a>
                    <button class="btn btn-success btn-sm float-right" onclick='addToSelected({{ result | tojson | safe }})'>+</button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <script>
        function addToSelected(animeData) {
            const animeLabel = animeData.animeLabel.value;
            const selectedAnimesList = document.getElementById('selectedAnimes');
            // Check if the anime is already in the list
            if (!selectedAnimesList.innerHTML.includes(animeData.animeLabel.value)) {
                const listItem = document.createElement('li');
                listItem.className = 'list-group-item';
                // Add image
                const image = document.createElement('img');
                image.className = 'anime-cover-image';
                image.src = animeData.cover_image;
                listItem.appendChild(image);
                // Add link to anime
                const link = document.createElement('a');
                link.target = '_blank';
                link.href = animeData.anime.value;
                link.textContent = animeLabel;
                listItem.appendChild(link);
                // Add link to AniList
                const anilistLink = document.createElement('a');
                anilistLink.target = '_blank';
                anilistLink.href = 'https://anilist.co/anime/' + animeData.anilist_id.value;
                anilistLink.textContent = ' ' + animeData.average_score;
                listItem.appendChild(anilistLink);
                // Add a "Remove" button next to the selected anime
                const removeButton = document.createElement('button');
                removeButton.className = 'btn btn-danger btn-sm float-right';
                removeButton.textContent = 'X';
                removeButton.onclick = function() {
                    removeFromSelected(JSON.stringify(animeData));
                };
                listItem.appendChild(removeButton);
                // Add the anime and the "Remove" button to the list
                selectedAnimesList.appendChild(listItem);
                // Add this section to make an AJAX request and add the anime to the selected list
                fetch('/add_to_selected', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(animeData),
                })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        // If adding to the server fails, remove the anime from the UI
                        selectedAnimesList.removeChild(listItem);
                    }
                });
            } else {
                    // Optionally, provide feedback to the user that the anime is already in the list
                    alert('No need to add this anime twice!');
            }
        }

        function removeFromSelected(animeData) {
            // this is very inelegant, but it works for now
            if (typeof animeData === 'string') {
                animeData = JSON.parse(animeData);
            }
            console.log(animeData);
            const selectedAnimesList = document.getElementById('selectedAnimes');
            const listItem = [...selectedAnimesList.children].find(item => item.textContent.includes(animeData.animeLabel.value));
            console.log(listItem);
            // Remove the anime from the list
            if (listItem) {
                selectedAnimesList.removeChild(listItem);
                // Add this section to make an AJAX request and remove the anime from the selected list
                fetch('/remove_from_selected', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(animeData),
                });
            }
        }

        function generateRecommendations() {
            if (document.getElementById('selectedAnimes').children.length == 0) {
                alert('You gotta select some animes first!');
                return;
            }
            fetch('/generate_recommendations')
                .then(response => response.json())
                .then(data => {
                    // Handle the recommendations data, e.g., display them on the UI
                    console.log(data);
                    // You can update the UI to show the recommendations, e.g., create a new list
                });
        }
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>

</html>